.social-media{
    background: rgb(46, 46, 46);
    color: white;
    display: flex;
    justify-content: center;
    .container{
        width: 1280px;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        .left-cont{
            border: 1px rgb(12, 99, 199) solid;
            padding: 15px 20PX;
            span{
                font-size: 20px;
                
            }
        }
        .right-cont{
            display: flex;
            align-items: center;
            span{
                font-size: 20px;
                margin-right: 20px;
                color: rgb(12, 99, 199);
            }
            img{
                padding: 10px;
            }
        }
    }
}
